.highlightY{
 background-color: yellow;
}

.highlightB{
  background-color: rgb(255, 187, 0);
 }

.largeur500{
  width: 500px
}

.center{
  display: table;
  margin: auto;
  margin-bottom: 20px;
}

.textarea_variable{
  height: 100px;
}

.textarea_rule{
  height: 200px;
}

.chipBlock2 {
  margin-left: 15px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

.divChip{
  width: inherit;
}

.fontWhite{

}
