
<div class="form-group">
<label for="file">Choose File</label>
<input type="file" (change)="changeListener($event)" #input />
<hr>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-paginator [pageSizeOptions]="[1,5, 10, 20,100]" [pageSize]="1"></mat-paginator>
<div *ngIf="dataSource">
  <div class="center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <td mat-cell *matCellDef="let row;let i = index;" [ngStyle]="{'width': '1800px'}">
          <mat-card
          [ngClass]="{'highlightB': row.rule_category=='case_when','highlightY': row.rule_category=='ifelse','routeAnimationsElements':true}" >

        <mat-card-header>
            <div class="flex">
              <h3>{{row.DataSchema_variable}}</h3>
              <h5>{{row.rule_category}}</h5>
            </div>
        </mat-card-header>

        <mat-card-content *ngIf="row.variables">
            <mat-chip-list [ngClass]="{'chipBlock2':true}" aria-label="Color selection">
              <mat-chip  *ngFor="let chip of row.variables" [style.color]="'white'" [style.background-color]="chip.couleur" [style.margin-left]="'20px'">
                {{chip.symbol}} : {{chip.couleur}}

                  <mat-chip-list class="mat-chip-list" aria-label="words" >
                    <mat-chip  *ngFor="let chip2 of chip.decomposition" [style.color]="'white'" [style.background-color]="chip2.couleur">{{chip2.symbol}}</mat-chip>
                  </mat-chip-list>
              </mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <hr>
        <hr>
        <mat-card-content *ngIf="row.harmoV">
            <mat-chip-list [ngClass]="{'chipBlock2':true}" aria-label="Color selection">
                <mat-chip *ngFor="let chip of row.harmoV" selected [style.background-color]="chip.couleur">
                  {{chip.symbol}} : {{chip.couleur}}
                  <mat-chip-list class="mat-chip-list" aria-label="words" >
                    <mat-chip  *ngFor="let chip2 of chip.decomposition" [style.color]="'white'" [style.background-color]="chip2.couleur">{{chip2.symbol}}</mat-chip>
                  </mat-chip-list>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <hr>
        <hr>
        <hr>
        <mat-card-content *ngIf="row.harmoV2">
          <mat-chip-list [ngClass]="{'chipBlock2':true}" aria-label="Color selection">
              <mat-chip *ngFor="let chip of row.harmoV2" selected [style.background-color]="chip.couleur">
                {{chip.symbol}} : {{chip.couleur}}
                <mat-chip-list class="mat-chip-list" aria-label="words" >
                  <mat-chip  *ngFor="let chip2 of chip.decomposition" [style.color]="'white'" [style.background-color]="chip2.couleur">{{chip2.symbol}}</mat-chip>
                </mat-chip-list>
              </mat-chip>
          </mat-chip-list>
      </mat-card-content>
      <hr>
        <mat-card-content>
            <textarea matInput (keyup)="onTextInputChange($event,i)" class="textarea_variable">{{row.Study_variable}}</textarea>

        </mat-card-content>
        <hr>
        <mat-card-content>
            <textarea matInput (keyup)="onTextInputChange($event,i)" class="textarea_rule">{{row.Harmo_rule}}</textarea>

        </mat-card-content>
        <hr>
        <hr>
        <hr>
        <hr>
        </mat-card> </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>


